/*!
 * Header content
 */

.header {
  background: $blue;
  width: 100%;
  padding-bottom: 0;

  & .header-slider {

    & img {
      margin-top: -20px;
    }
  }

  & .container-fluid.top-menu {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    margin-bottom: -20px;
  }

  & .navbar-default {
    background-color: rgba(255, 255, 255, .9);
    min-height: 60px;
    border-color: #e7e7e7;
    border-radius: 0;
  }

  & .fixed {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1030;
  }

  &.navbar-default .navbar-toggle:focus, & .navbar-default .navbar-toggle:hover {
    background-color: $blue;
  }

  & .navbar-default .navbar-toggle {
    border-color: $blue;
  }

  & .navbar-toggle.collapsed:hover .icon-bar {
    background-color: #fff;
  }
}
.navbar-brand>img {
  margin-top: -20px;
}
.carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  width: 100%;
  height: auto;
}