/*!
 * Main content
 */

.main {

  & .title {
    font-weight: 600;
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 30px;

    & span {
      color: #f70303;
      text-transform: uppercase;
    }

    &.bookmark {
      position: relative;
      display: block;
      padding-bottom: 35px;

      &:before {
        content: "";
        display: block;
        height: 3px;
        width: 140px;
        background: $blue;
        position: absolute;
        bottom: 8px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      &:after {
        content: "\f02e";
        font-family: FontAwesome;
        font-size: 20px;
        color: $blue;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 40px;
        height: 30px;
        background: #fff;
        text-align: center;
      }
    }
  }
  .block-proof .bookmark:after {
    content: "\f02e";
    font-family: FontAwesome;
    background: #f5f5f5;
  }

  & .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    //&:hover .block-top-text .button {
    //  visibility: visible;
    //}
  }

  & .block-top-text {
    align-items: left;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      order: 1;
    }

    & h3 {
      font-size: 28px;
      margin-bottom: 25px;
    }

    & p {
      font-size: 14px;
      margin-bottom: 25px;

      &.big {
        font-size: 16px;
      }
    }

  }

  & .block-top-pict {
    //background: #f5f5f5;

    & .description {
      font-size: 12px;
      margin-bottom: 10px;
    }
    & .rightNav, & .leftNav {
      display: none;
    }
  }


}
.price {
  color: #f70303;
  font-size: 26px;
  font-weight: 600;
  margin-top: 0;
  
  & span {
    //color: $black;
    font-weight: 300;
  }
}
.block-top-bg {
  background: $light-grey;
  position: relative;
}

.button, .button:visited {
  display: block;
  padding: 0 25px;
  background-color: $blue;
  border: 2px solid $blue;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
  transition: 1s;
  width: max-content;

  &:hover {
    background-color: #fff;
    text-decoration: none;
    color: $blue;
  }
}

.parallax_classic .button, .parallax_classic .button:visited {
  font-size: 180%;
}

.smile_icon_list {
  list-style: none;
  padding: 0;
  margin-left: 35px;
  margin-right: 0;
  margin-bottom: 0;

  & .icon_list_item {
    display: flex;

    &:not(:last-child):before {
      content: "";
      border-left: 2px dotted $blue;
    }

    & .ult-responsive {
      margin-top: 5px;
      font-weight: 600;
    }

    & .hexagon {
      position: relative;
      width: 70px;
      height: 40.41px;
      background-color: $blue;
      margin: 20.21px 0;
      display: inline-block;
      margin-right: 20px;
      margin-left: -35px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
      }

      &:before {
        bottom: 100%;
        border-bottom: 20.21px solid $blue;
      }

      &:after {
        top: 100%;
        width: 0;
        border-top: 20.21px solid $blue;
      }

      & .fa {
        position: absolute;
        font-size: 26px;
        color: #fff;
        display: block;
        width: 100%;
        text-align: center;
        line-height: 40px;
      }
    }

    & .icon_description {
      display: inline-block;
      width: calc(100% - 100px);
    }
  }
}

.icon-component {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;

  & .icon-title {
    margin-top: 0;
  }

  & .icon {
    width: 50px;
    height: 50px;
    border: 2px solid $blue;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    line-height: 42px;
    color: $blue;
    margin-right: 10px;
  }
  & .ibd-block {
    display: inline-block;

    & .icon-title {
      color: $blue;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 0;
    }
    & .icon-description {
      font-weight: 600;
      font-size: 22px;
      
      & a {
        color: #333;
      }
    }
  }
}

.proof {
  background: #f5f5f5;
}

.jcarousel-wrapper,
.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
}

.jcarousel-wrapper .jcarousel-control-prev,
.jcarousel-wrapper .jcarousel-control-next,
.jcarousel-wrapper .jcarousel-control-prev,
.jcarousel-wrapper .jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 32px;
  height: 59px;
}

.jcarousel-wrapper .jcarousel-control-prev,
.jcarousel-wrapper .jcarousel-control-prev, .parallax_classic.bullets .leftNav {
  background: none;
  left: 5px;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover {
    background: $blue;
    text-decoration: none;

    &:after {
      color: #fff;
    }
  }

  &:after {
    content: "\f104";
    font-family: FontAwesome;
    color: $blue;
    font-size: 33px;
    display: block;
    border: 2px solid $blue;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    line-height: 40px;
    padding-right: 4px;
  }
}

.jcarousel-wrapper .jcarousel-control-next,
.jcarousel-wrapper .jcarousel-control-next, .parallax_classic.bullets .rightNav {
  background: none;
  right: 5px;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover {
    background: $blue;
    text-decoration: none;

    &:after {
      color: #fff;
    }
  }

  &:after {
    content: "\f105";
    font-family: FontAwesome;
    color: $blue;
    font-size: 33px;
    display: block;
    border: 2px solid $blue;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    line-height: 40px;
    padding-left: 4px;
  }
}
.parallax {
  position: relative;

  & .title {
    position: absolute;
    bottom: 0px;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    margin: auto;
    text-shadow: 3px 3px 17px #000;
  }

  & .order {
    position: absolute;
    bottom: 50px;
    z-index: 999;
    left: 50%;
    margin-left: -180px;

  }

  @media screen and (max-width: 699px) {
    display: none !important;
  }
}
.parallax_classic.bullets .leftNav, .parallax_classic.bullets .rightNav {
  background: #fff;

  &:after {
    border-color: #fff;
  }
}
.brand {
  margin-bottom: 60px;

  & img {
    margin: 0 20px;
  }
}
.jcarousel-wrapper .jcarousel-pagination,
.jcarousel-wrapper .jcarousel-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
}

.jcarousel-wrapper .jcarousel-pagination a,
.jcarousel-wrapper .jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  height: 18px;
  width: 18px;
  line-height: 10px;
  background: #fff;
  border-radius: 50%;
  text-indent: -9999px;
  margin-right: 7px;
  opacity: .25;
}

.jcarousel-wrapper .jcarousel-pagination a.active,
.jcarousel-wrapper .jcarousel-pagination a.active {
  background: #4699ec;
  opacity: 1;
}

.jcarousel-wrapper .jcarousel,
.jcarousel-wrapper .jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jcarousel-wrapper .jcarousel ul,
.jcarousel-wrapper .jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel-wrapper .jcarousel ul li,
.jcarousel-wrapper .jcarousel ul li {
  float: left;
  width: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  padding-left: 60px;
}

.jcarousel-wrapper .jcarousel ul li .photo,
.jcarousel-wrapper .jcarousel ul li .photo {
  width: 90%;
  height: 90%;
  border-radius: 5%;
  display: block;
  margin: 0 auto 30px;
  background: #9c9c9c;
}

.jcarousel-wrapper .jcarousel ul li h4,
.jcarousel-wrapper .jcarousel ul li h4 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: $blue;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .jcarousel-wrapper .jcarousel ul li p,
  .jcarousel-wrapper .jcarousel ul li p {
    font-size: 15px;
    line-height: 22px;
  }
}

.jcarousel-wrapper .jcarousel ul li .testimonials-stars,
.jcarousel-wrapper .jcarousel ul li .testimonials-stars {
  margin: -20px auto 10px;
  text-align: center;
}

.jcarousel-wrapper .jcarousel ul li .testimonials-stars img,
.jcarousel-wrapper .jcarousel ul li .testimonials-stars img {
  display: inline-block;
  max-width: 100%;
  height: auto !important;
}

.sell-block {
  margin: auto;
  padding: 100px;
  background: $grey url("../images/best4mining-gpu-background3.png") center center no-repeat;
  background-size: cover;
  justify-content: space-between;
  flex-direction: column;

  @media  screen and (max-width: 767px) {
    .h1, .h2, .h3 {
      font-size: 180%;
    }
  }

  & .button-block {
    margin: 40px auto;
    width: 100%;
    max-width: 400px;

    @media  screen and (max-width: 767px) {
      & .button {
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
      }
    }
  }
}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
}
.action-block-title {
  padding-bottom: 10px;
  color: #f70303;
}
.timing {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  height: 50px;
  text-transform: uppercase;
  margin-top: -10px;
  padding-bottom: 20px;

  & span {
    display: block;
    padding-left: 22px;
    padding-right: 22px;
  }
}